body p, html p {
	line-height: 1.2;
}

body p a {
	text-decoration: none;
	font-weight: bold;
	color: #3F51B5;
}

md-list .md-button {
  color: inherit;
  font-weight: 500;
  text-align: left;
  width: 100%;
  display: inline-block;
  height: 48px;
}

#content  {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
}