
<div layout="row" layout-wrap>
  <div flex="25">
  </div>
  <div flex="50">
    <section ng-view></section>
  </div>
  <div flex="25">
  </div>
</div>

<!-- Render the user object -->
<script type="text/javascript">
  window.user = <%- user || 'null' %>;
</script>