<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" lang="en" class="no-js">
<head>
  <!-- Use the 'title' property to render a page title  -->
  <title><%= title %></title>

  <!-- Meta Data -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

  <!-- Angulars Material CSS  -->
  <link rel="stylesheet" href="/lib/angular-material/angular-material.min.css">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="/assets/style/hkjs.css">

</head>
<body layout="column">

  <md-toolbar>
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" aria-label="Home" href="/#!/">
        <md-icon md-svg-icon="/assets/images/ic_keyboard_24px.svg"></md-icon>
      </md-button>
      <h2>
      <a href="/#!/"><span>Hong Kong JS</span></a>
      </h2>
      <span flex></span>
      <md-button class="md-icon-button" aria-label="Signin" href="/signin">
        <md-icon md-svg-icon="/assets/images/ic_person_24px.svg"></md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <div flex layout="row">

    <md-sidenav md-is-locked-open="$mdMedia('gt-sm')" class="md-whiteframe-z2" md-component-id="left">
      <md-list>
        <md-item>
            <md-button ng-href="#!/" ng-class="selected">
              <md-icon md-svg-icon="/assets/images/ic_person_24px.svg" class="avatar"></md-icon>
              Home
            </md-button>
        </md-item>
        <md-item>
            <md-button ng-href="#!/articles" ng-class="selected">
              <md-icon md-svg-icon="/assets/images/ic_person_24px.svg" class="avatar"></md-icon>
              Articles
            </md-button>
        </md-item>
        <md-item>
            <md-button ng-href="#!/jobs" ng-class="selected">
              <md-icon md-svg-icon="/assets/images/ic_person_24px.svg" class="avatar"></md-icon>
              Jobs
            </md-button>
        </md-item>        
      </md-list>
    </md-sidenav>
    <md-content flex id="content">

      <%- body %>

    </md-content>
  </div>

  <!-- Load the Socket.io client -->
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>

  <!-- Load local libraries -->
  <script type="text/javascript" src="/lib/angular/angular.js"></script>
  <script type="text/javascript" src="/lib/angular-route/angular-route.js"></script>
  <script type="text/javascript" src="/lib/angular-resource/angular-resource.js"></script>

  <!-- Load the articles module -->
  <script type="text/javascript" src="/articles/articles.client.module.js"></script>
  <script type="text/javascript" src="/articles/controllers/articles.client.controller.js"></script>
  <script type="text/javascript" src="/articles/services/articles.client.service.js"></script>
  <script type="text/javascript" src="/articles/config/articles.client.routes.js"></script>

  <!-- Load the jobs module -->
  <script type="text/javascript" src="/jobs/jobs.client.module.js"></script>
  <script type="text/javascript" src="/jobs/controllers/jobs.client.controller.js"></script>
  <script type="text/javascript" src="/jobs/services/jobs.client.service.js"></script>
  <script type="text/javascript" src="/jobs/config/jobs.client.routes.js"></script>

  <!-- Load the home module -->
  <script type="text/javascript" src="/home/home.client.module.js"></script>
  <script type="text/javascript" src="/home/controllers/home.client.controller.js"></script>
  <script type="text/javascript" src="/home/config/home.client.routes.js"></script>

  <!-- Load the users module -->
  <script type="text/javascript" src="/users/users.client.module.js"></script>
  <script type="text/javascript" src="/users/services/authentication.client.service.js"></script>

  <!-- Load the chat module -->
  <script type="text/javascript" src="/chat/chat.client.module.js"></script>
  <script type="text/javascript" src="/chat/services/socket.client.service.js"></script>
  <script type="text/javascript" src="/chat/controllers/chat.client.controller.js"></script>
  <script type="text/javascript" src="/chat/config/chat.client.routes.js"></script>

  <!-- Bootstrap AngularJS application -->
  <script type="text/javascript" src="/application.js"></script>

  <!-- Angular Material Dependencies -->
  <script src="/lib/angular-animate/angular-animate.min.js"></script>
  <script src="/lib/angular-aria/angular-aria.min.js"></script>

  <!-- Angular Material Javascript now available via Google CDN; version 0.7 used here -->
  <script src="/lib/angular-material/angular-material.min.js"></script>


</body>
</html>
