

  <h1>Sign In to Hong Kong JS</h1>

  <!-- Display flash messages  -->
  <% for(var i in messages) { %>
     <div class="flash"><%= messages[i] %></div>
  <% } %>

  <!-- Render the signin form  -->
  <form action="/signin" method="post">
    <div>
      <md-input-container flex>
        <label>Username</label>
        <input placeholder="Username" name="username" />
      </md-input-container>
      <md-input-container flex>
        <label>Password</label>
        <input placeholder="Password" name="password" type="password" />
      </md-input-container>
    </div>
    <div>
      <!-- <input  value="Sign In" /> -->
      <md-button class="md-raised md-primary" type="submit">Sign In</md-button>
    </div>
  </form>

  <!-- Render the OAuth authentication links  -->
  <!-- <a href="/oauth/facebook">Sign in with Facebook</a>
  <a href="/oauth/twitter">Sign in with Twitter</a>
  <a href="/oauth/google">Sign in with Google</a> -->