
<h1>Signup</h1>

<!-- Display flash messages  -->
<% for(var i in messages) { %>
   <div class="flash"><%= messages[i] %></div>
<% } %>

<md-content layout-padding>
  <form action="/signup" method="post">
    <div layout layout-sm="column">
      <md-input-container flex>
        <label>First name</label>
        <input type="text" name="firstName" />
      </md-input-container>
      <md-input-container flex>
        <label>Last name</label>
        <input type="text" name="lastName" />
      </md-input-container>
    </div>
    <div layout layout-sm="column">
      <md-input-container flex>
        <label>Email Address</label>
        <input type="text" name="email" />
      </md-input-container>
    </div>
    <div layout layout-sm="column">
      <md-input-container flex>
        <label>Username</label>
        <input type="text" name="username" />
      </md-input-container>
      <md-input-container flex>
        <label>Password</label>
        <input type="password" name="password">
      </md-input-container>
    </div>
    <div>
      <md-button class="md-raised md-primary" type="submit">Sign Up</md-button>
    </div>
  </form>
</md-content>

<!-- Render the OAuth authentication links  -->
<!--       <a href="/oauth/facebook">Sign in with Facebook</a>
<a href="/oauth/twitter">Sign in with Twitter</a>
<a href="/oauth/google">Sign in with Google</a> -->
